.productList{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.productList__list{
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  scrollbar-width: none;
}
.productList__list::-webkit-scrollbar{
  width: 0px;
  background: transparent;
  display: block;
}

.productList__heading{
  padding: 1em;
  box-shadow: 0px 0px 3px #000;

}

.productList::-webkit-scrollbar{
  display: none;
}