button{
  --color: #888;
}
.btn-primary{
  --color: #003049;
}
.btn-secondary{
  --color: #04724D;
}
.btn-warning{
  --color: #FF7F11;
}
.btn-danger{
  --color: #D62828;
}


.btn {
  padding: 1rem;
  background-color: var(--color);
  color: #f4f4f9;
  border: 2px solid var(--color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn:hover{
  cursor: pointer;
  background-color: transparent;
  color : var(--color);
}
